table {
    width: 100%;
   }
  td
   {
       width: 20%;
       text-align: center;
   }
   .mat-header-cell{
       text-align: center;
   }
   @media(max-width:450px){
    .mat-form-field{
        width: 50px;
    }
}
.mat-form-field{
    width: 50px;
}