<button (click)="check11()">Check</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="isMachine">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="machinName">
    <th mat-header-cell *matHeaderCellDef> Machine </th>
    <td mat-cell *matCellDef="let element"> {{element.machinName}}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- Name Column -->
 

  <!-- Weight Column -->
  <ng-container matColumnDef="250">
    <th mat-header-cell *matHeaderCellDef>250 </th>
    <td mat-cell *matCellDef="let element; let i=index;">  
      <span>{{check2(i) ? 'Y' : 'N'}}</span><br>
      <button mat-raised-button color="primary" *ngIf="(check2(i))" (click)="twoFifty(element.$key,i)">Done</button>
      <button mat-raised-button color="primary" *ngIf="!(check2(i))" [disabled]="true"></button>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="1K">
    <th mat-header-cell *matHeaderCellDef> 1,000 </th>
    <td mat-cell *matCellDef="let element; let i=index;"> 
      <span>{{check1(i) ? 'Y' : 'N'}}</span><br>
      <button mat-raised-button color="primary" *ngIf="(check1(i))" (click)="oneK(element.$key,i)">Done</button>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>


  <!-- Symbol Column -->
  <ng-container matColumnDef="6K">
    <th mat-header-cell *matHeaderCellDef> 6,000 </th>
    <td mat-cell *matCellDef="let element; let i=index;"> 
      <span>{{check6(i)}}</span><br>
      <button mat-raised-button color="primary" *ngIf="(check6(i))" (click)="sixK(element.$key,i)">Done</button>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>


