<ion-content>
  <ng-container *ngIf="date">
    <mat-toolbar color="primary">
      <a mat-button routerLink="/dash" routerLinkActive="active1 home"><mat-icon>home</mat-icon><span>Home</span></a>
      <span class="spacer" routerLinkActive="active"></span>
      <button mat-button (click)="logout()" class="home"><mat-icon>exit_to_app</mat-icon><span>SignOut</span></button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </ng-container>

  <mat-card *ngIf="!date">
      <mat-card-content class="title">
        Wrong... Date
      </mat-card-content>
    
      <mat-card-content class="info">
        Please correct your system's Date and Time and then Login Again
      </mat-card-content>
    
      <mat-card-actions>
        <button class="out-btn" (click)="logout()" mat-raised-button color="primary">Sign Out</button>
      </mat-card-actions>
    
    </mat-card>
    
</ion-content>