table {
    width: 100%;
    overflow: scroll;
  }
  td{
    text-align: center;
  }
  .mat-header-cell{
    text-align: center;
  }
  th{
      color: rgb(0, 17, 255);
    }
    .title
{
    width: 100%;
    text-align: center;
    font-size: 200%;
    pointer-events: none;
}
@media(max-width:450px)
{
    .title
    {
        font-size: 120%;
    }
}
.expireToday{
    color: orange;
    font-weight: normal;
    font-size: 150%;
    -webkit-animation: myfirst  linear 0.5s infinite alternate; /* Safari 4.0 - 8.0 */
    animation: myfirst  linear 0.5s infinite alternate;
}
.expired{
    color: red;
    font-weight: normal;
    font-size: 150%;
    -webkit-animation: myfirst  linear 0.5s infinite alternate; /* Safari 4.0 - 8.0 */
    animation: myfirst  linear 0.5s infinite alternate;
}
.valid
{
    color: green;
    font-size: 150%;
    font-weight: bold;
}

@-webkit-keyframes myfirst {
    from{font-weight: normal}
    to{font-weight: bolder}
}

@keyframes myfirst {
    from{font-weight: normal}
    to{font-weight: bolder}
}
.title2
{
    width: 100%;
    text-align: center;
    font-size: 200%;
    pointer-events: none;
    margin-top: 20px;
}
@media(max-width:450px)
{
    .title2
    {
        font-size: 120%;
    }
}