table {
    width: 100%;
    overflow: scroll;
   }
  td
   {
       width: 16.66%;
       button{
           margin: 1px 1px;
       }
   }
   .start
   {
       text-align: start;
   }
   .center{
       text-align: center;
   }
   @media(max-width:450px){
    .mat-form-field{
        width: 50px;
    }
}
.mat-form-field{
    width: 50px;
}
@media(max-width:450px){
    .mat-form-field{
        width: 50px;
    }
}
@media(max-width:450px)
{
    .mat-raised-button
    {
        border-radius: 25px;
        width: 80%;
        font-size: 80%;
    } 
}
th{
    color: rgb(0, 17, 255);
}
.red{
    color: red;
    font-weight: normal;
    font-size: 150%;
    -webkit-animation: myfirst  linear 0.5s infinite alternate; /* Safari 4.0 - 8.0 */
    animation: myfirst  linear 0.5s infinite alternate;
}

.green{
    color: rgb(0, 161, 0);
    font-size: 130%;
    font-weight: bold;
}

@-webkit-keyframes myfirst {
    from{font-weight: normal}
    to{font-weight: bolder}
}

/* Standard syntax */
@keyframes myfirst {
    from{font-weight: normal}
    to{font-weight: bolder}
}
 .mat-mini-fab
 {
    width: 30px;
    height: 30px;
    .mat-icon
    {
        font-size: 100%;
    }
 }

 .title
{
    width: 100%;
    text-align: center;
    font-size: 200%;
    pointer-events: none;
}
@media(max-width:450px)
{
    .title
    {
        font-size: 120%;
    }
}

.title2
{
    width: 100%;
    text-align: center;
    font-size: 200%;
    pointer-events: none;
    margin-top: 20px;
}
@media(max-width:450px)
{
    .title2
    {
        font-size: 120%;
    }
}
.mat-form-field
{
    margin-bottom: -10px;
}

.gap
{
    margin-bottom: 8px;
}

.mat-raised-button
{
    width: 70%;
    border-radius: 20px;
}
@media(min-width:500px){
.mat-raised-button:hover:enabled
{
    background: rgb(34, 194, 19);
    box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
}
}
.small
{
    width: 50px;
}
.big
{
    width: 100px;
}

@media(max-width:500px)
{
    .big
    {
        width: 58px;
    }
}