<mat-grid-list cols="3" rowHeight="50px" gutterSize="1px">
  <mat-grid-tile class="header">
        MACHINE
  </mat-grid-tile>


  
  <mat-grid-tile class="header">
       INSURANCE
  </mat-grid-tile>

 
  <mat-grid-tile class="header">
        PERMIT
  </mat-grid-tile>

 
  
</mat-grid-list>


<mat-grid-list cols="3" rowHeight="90px" gutterSize="1px">


  <a routerLink="pending/service" > 
    <mat-grid-tile class="color1C1">
      <span   [matBadge]="mp" matBadgeColor="warn" [matBadgeOverlap]="(isHandset$ | async) ? 'true' : 'false'"  >Services</span>
    </mat-grid-tile>
  </a>


  <a routerLink="pending/insurance"  >
    <mat-grid-tile class="color2C1">
      <span [matBadge]="ip" matBadgeColor="warn" [matBadgeOverlap]="(isHandset$ | async) ? 'true' : 'false'">Pending</span>
    </mat-grid-tile>
  </a>



  <a routerLink="permit/pending" >
    <mat-grid-tile class="color3C1">
      <span  [matBadge]="pp" matBadgeColor="warn" [matBadgeOverlap]="(isHandset$ | async) ? 'true' : 'false'">Pending</span>
    </mat-grid-tile>
  </a>


 

  


  <a routerLink="details/machine" >
    <mat-grid-tile class="color1C1">
      <span>Details</span>
    </mat-grid-tile>
  </a>


  <a routerLink="details/insurance" >
    <mat-grid-tile class="color2C1">
      <span>Details</span>
    </mat-grid-tile>
  </a>



  <a routerLink="permit/details" >
    <mat-grid-tile class="color3C1">
      <span>Details</span>
    </mat-grid-tile>
  </a>






  <a routerLink="entry/hours" >
    <mat-grid-tile class="radius color1C1">
      <span>Fill Hours</span>
    </mat-grid-tile>
  </a>


  <a routerLink="entry/insurance" >
    <mat-grid-tile class="radius color2C1">
      <span>Update</span>
    </mat-grid-tile>
  </a>

  <a routerLink="permit/entry" >
    <mat-grid-tile class="color3C1 radius">
      <span>Update</span>
    </mat-grid-tile>
  </a>

  
</mat-grid-list>
