<div class="title">{{isMachine ? 'Machine Pending Services': isInsurance ? 'Pending insurance': isRoadTax ? 'Pending Road Tax': isPermit ? 'Pending Permit': 'Ooops Error'}}</div>
<mat-divider></mat-divider>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="isMachine"  [border]="(isHandset$ | async) ? '1' : '0'">


  <!-- Position Column -->
  <ng-container matColumnDef="machinName">
    <th mat-header-cell *matHeaderCellDef> Machine</th>
    <td mat-cell *matCellDef="let element"> {{element.machinName}}</td>
  </ng-container>

  

  <!-- Weight Column -->
  <ng-container matColumnDef="250">
    <th mat-header-cell *matHeaderCellDef>300 </th>
    <td mat-cell *matCellDef="let element; let i=index;">  
      <span [ngClass]="check2(element.$key) ? 'green': 'red'">{{check2(element.$key) ? 'Y' : 'N'}}</span><br>
      <ng-container *ngIf="admin">
        <button mat-mini-fab color="primary" *ngIf="!(check2(element.$key))" (click)="twoFifty(element.$key)"><mat-icon>done</mat-icon></button>
      </ng-container>
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="1K">
    <th mat-header-cell *matHeaderCellDef> 1,000 </th>
    <td mat-cell *matCellDef="let element; let i=index;"> 
      <span [ngClass]="check1(element.$key) ? 'green': 'red'">{{check1(element.$key) ? 'Y' : 'N'}}</span><br>
      <ng-container *ngIf="admin">
        <button mat-mini-fab color="primary" *ngIf="!(check1(element.$key))" (click)="oneK(element.$key)"><mat-icon>done</mat-icon></button>
      </ng-container>
    </td>
  </ng-container>


  <!-- Symbol Column -->
  <ng-container matColumnDef="6K">
    <th mat-header-cell *matHeaderCellDef> 6,000 </th>
    <td mat-cell *matCellDef="let element; let i=index;"> 
      <span [ngClass]="check6(element.$key) ? 'green': 'red'">{{check6(element.$key) ? 'Y' : 'N'}}</span><br>
      <ng-container *ngIf="admin">
        <button mat-mini-fab color="primary" *ngIf="!(check6(element.$key))" (click)="sixK(element.$key)"><mat-icon>done</mat-icon></button>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<ng-container *ngIf="isInsurance">
    <div class="title2">Machine Details</div>
    <mat-divider></mat-divider>
  <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8"  [border]="(isHandset$ | async) ? '1' : '0'" >

    
    <!-- Machine Id Column -->
    <ng-container matColumnDef="machinName">
      <th mat-header-cell *matHeaderCellDef> Machine </th>
      <td mat-cell *matCellDef="let element"> {{element.machinName}} </td>
    </ng-container>
  
   
    <!-- Remain columns are for showing previous 7 days entry -->

    <ng-container matColumnDef="issue">
      <th mat-header-cell *matHeaderCellDef> Valid From </th>
      <td mat-cell *matCellDef="let element">{{giveDate(element.insurance[element.insurance.length-1].issueDate.seconds*1000) | date:['dd-MM-yyyy']}}</td>
    </ng-container>
  

    <ng-container matColumnDef="expire">
      <th mat-header-cell *matHeaderCellDef> Valid Till </th>
      <td mat-cell *matCellDef="let element">
        
          {{giveDate(element.insurance[element.insurance.length-1].expireDate.seconds*1000) | date:['dd-MM-yyyy']}}
        
      </td>
    </ng-container>


    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element">
        <span 
        [ngClass]="valid(element.insurance[element.insurance.length-1].expireDate.seconds*1000) ? 'expired': 'valid' "
        >
          {{valid(element.insurance[element.insurance.length-1].expireDate.seconds*1000) ? 'Expired' : 'Valid'}}
        </span>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
  </table>

  <div class="title2">Vehicle Details</div>
  <mat-divider></mat-divider>
  <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8"  [border]="(isHandset$ | async) ? '1' : '0'" >

    
      <!-- Machine Id Column -->
      <ng-container matColumnDef="vehicleName">
        <th mat-header-cell *matHeaderCellDef> Vehicle Id </th>
        <td mat-cell *matCellDef="let element"> {{element.vehicleNumber}} </td>
      </ng-container>
    
      <!-- Total Hour Column -->
     
  
      <!-- Remain columns are for showing previous 7 days entry -->
  
      <ng-container matColumnDef="issue">
        <th mat-header-cell *matHeaderCellDef> Valid From </th>
        <td mat-cell *matCellDef="let element">{{giveDate(element.insurance[element.insurance.length-1].issueDate.seconds*1000) | date:['dd-MM-yyyy']}}</td>
      </ng-container>
    
  
      <ng-container matColumnDef="expire">
        <th mat-header-cell *matHeaderCellDef> Valid Till </th>
        <td mat-cell *matCellDef="let element">
          
            {{giveDate(element.insurance[element.insurance.length-1].expireDate.seconds*1000) | date:['dd-MM-yyyy']}}
          
        </td>
      </ng-container>
  
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">
          <span 
        [ngClass]="valid(element.insurance[element.insurance.length-1].expireDate.seconds*1000) ? 'expired': 'valid' "
        >
          {{valid(element.insurance[element.insurance.length-1].expireDate.seconds*1000) ? 'Expired' : 'Valid'}}
        </span>
        </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
    </table>
</ng-container>




  <ng-container *ngIf="isPermit">
    <table mat-table [dataSource]="dataSource4" class="mat-elevation-z8"  [border]="(isHandset$ | async) ? '1' : '0'" >
  
      
      <!-- Machine Id Column -->
      <ng-container matColumnDef="vehicleName">
        <th mat-header-cell *matHeaderCellDef> Vehicle </th>
        <td mat-cell *matCellDef="let element"> {{element.vehicleNumber}} </td>
      </ng-container>
    
      <!-- Total Hour Column -->
    
      <!-- Remain columns are for showing previous 7 days entry -->
  
      <ng-container matColumnDef="issue">
        <th mat-header-cell *matHeaderCellDef> Valid From </th>
        <td mat-cell *matCellDef="let element">{{giveDate(element.permit[element.permit.length-1].issueDate.seconds*1000) | date:['dd-MM-yyyy']}}</td>
      </ng-container>
    
  
      <ng-container matColumnDef="expire">
        <th mat-header-cell *matHeaderCellDef> Valid Till </th>
        <td mat-cell *matCellDef="let element">
          
            {{giveDate(element.permit[element.permit.length-1].expireDate.seconds*1000) | date:['dd-MM-yyyy']}}
          
        </td>
      </ng-container>
  
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">
          <span 
          [ngClass]="(valid(element.permit[element.permit.length-1].expireDate.seconds*1000)=='Expire Today') ? 'expireToday':
          (valid(element.permit[element.permit.length-1].expireDate.seconds*1000)=='Expired') ? 'expired' :
          (valid(element.permit[element.permit.length-1].expireDate.seconds*1000)=='Valid') ? 'valid' : ''"
          >
            {{valid(element.permit[element.permit.length-1].expireDate.seconds*1000)}}
          </span>
        </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
    </table>
  </ng-container>
  



