table {
    width: 100%;
    overflow: scroll;
   }
  td
   {
       width: 25%;
       text-align: center;
   }
   .mat-header-cell{
       text-align: center;
   }
   th{
    color: rgb(0, 17, 255);
}
.red{
    color: red;
    font-weight: normal;
    font-size: 150%;
    -webkit-animation: myfirst  linear 1s infinite alternate; /* Safari 4.0 - 8.0 */
    animation: myfirst  linear 1s infinite alternate;
}

.green{
    color: rgb(0, 161, 0);
    font-size: 130%;
    font-weight: bold;
}

@-webkit-keyframes myfirst {
    from{font-weight: normal}
    to{font-weight: bolder}
}

/* Standard syntax */
@keyframes myfirst {
    from{font-weight: normal}
    to{font-weight: bolder}
}

.mat-mini-fab
{
   width: 30px;
   height: 30px;
   .mat-icon
   {
       font-size: 100%;
   }
}
.title
{
    width: 100%;
    text-align: center;
    font-size: 200%;
    pointer-events: none;
}
@media(max-width:450px)
{
    .title
    {
        font-size: 120%;
    }
}

.expireToday{
    color: orange;
    font-weight: normal;
    font-size: 150%;
    -webkit-animation: myfirst  linear 1s infinite alternate; /* Safari 4.0 - 8.0 */
    animation: myfirst  linear 1s infinite alternate;
}
.expired{
    color: red;
    font-weight: normal;
    font-size: 150%;
    -webkit-animation: myfirst1  linear 0.5s infinite alternate; /* Safari 4.0 - 8.0 */
    animation: myfirst1  linear 0.5s infinite alternate;
}
.valid
{
    color: green;
    font-size: 150%;
    font-weight: bold;
}

@-webkit-keyframes myfirst1 {
    from{font-weight: normal}
    to{font-weight: bolder}
}

@keyframes myfirst1 {
    from{font-weight: normal}
    to{font-weight: bolder}
}
.title2
{
    width: 100%;
    text-align: center;
    font-size: 200%;
    pointer-events: none;
    margin-top: 20px;
}
@media(max-width:450px)
{
    .title2
    {
        font-size: 120%;
    }
}