#customers {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }
  
  #customers td, #customers th {
    border: 1px solid rgb(221, 221, 221);
    padding: 8px;
    
  }
  
 td{
      width: 16%;
  }

  @media(max-width:500px)
  {
      td{
          font-size: 70%;
      }
  }

  #customers tr:nth-child(even){background-color: rgb(242,242,242);}
  
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.74);
    color: rgba(255, 255, 255, 0.966);
  }

  

   .start
   {
       text-align: start;
   }
   .center{
       text-align: center;
   }
  
@media(max-width:450px)
{
    .mat-raised-button
    {
        border-radius: 25px;
        width: 70%;
        font-size: 70%;
    } 
}

.red{
    color: rgb(255, 0, 0);
    font-weight: normal;
    font-size: 150%;
    -webkit-animation: myfirst  linear 0.5s infinite alternate; /* Safari 4.0 - 8.0 */
    animation: myfirst  linear 0.5s infinite alternate;
}

.green{
    color: rgb(0, 161, 0);
    font-size: 130%;
    font-weight: bold;
}

@-webkit-keyframes myfirst {
    from{font-weight: normal}
    to{font-weight: bolder}
}

/* Standard syntax */
@keyframes myfirst {
    from{font-weight: normal}
    to{font-weight: bolder}
}
 .mat-mini-fab
 {
    width: 30px;
    height: 30px;
    .mat-icon
    {
        font-size: 100%;
    }
 }

 

.mat-raised-button
{
    width: 70%;
    border-radius: 20px;
}

@media(max-width:325px)
{
    .mat-raised-button
    {
        width: 50%;
        border-radius: 20px;
    }
}

@media(min-width:500px){
.mat-raised-button:hover:enabled
{
    background: rgb(34, 194, 19);
    box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
}
}



.mat-form-field{
    width: 100px;
}

@media(max-width:550px)
{
    .mat-form-field{
        width: 40px;
    }
}

.title
{
    width: 100%;
    text-align: center;
    font-size: 200%;
    pointer-events: none;
}
@media(max-width:450px)
{
    .title
    {
        font-size: 120%;
    }
}

.title2
{
    width: 100%;
    text-align: center;
    font-size: 200%;
    pointer-events: none;
    margin-top: 20px;
}
@media(max-width:450px)
{
    .title2
    {
        font-size: 120%;
    }
}