<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="font-size: 14px;">
      AJAY CONSTRUCTION
    </ion-title>
  </ion-toolbar>
</ion-header>



<div class="login-box">

  <div class="pic">
    <ion-img src="../../assets/ac-logo.png"></ion-img>
  </div>
  <form (ngSubmit)="login()" #registerForm="ngForm" class="machine-form">
    <ion-row>
      <ion-col>
        <ion-list inset>



          <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="model.email" required style=" font-weight: bolder"></ion-input>





          <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="model.password" required  style=" font-weight:bolder"></ion-input>




        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="signup-col">

        <button color="primary" type="submit" [disabled]="!registerForm.form.valid">Login</button>

      </ion-col>
    </ion-row>

  </form>
</div>

