<h1>Are you sure ?</h1>

<div mat-dialog-content>
  you want to delete this data
</div>

<div mat-dialog-actions>
  <button mat-mini-fab matDialogClose="confirm" color="primary" ><mat-icon>done</mat-icon></button>
  <button mat-mini-fab matDialogClose="refuse" color="warn" ><mat-icon>clear</mat-icon></button>
</div>